@import 'normalize-styl/normalize'

visualization_height = 200px
equalizer_height = 30px
control_panel_height = 40px
player_width = 500px

fast = .3s

body
	background #30485f
	font-weight 300
	font-size 14px




gradation(rule, color, dark = false, hover = 2%, active = 4%)
	func = tint
	if dark
		func = shade

	rule color
	&:hover
		rule func(color, hover)
	&:active
		rule func(color, active)



.music-player
	margin 70px auto
	width player_width

	overflow hidden
	border-radius 5px
	color #87aacb
	box-shadow 0 0 15px alpha(#09131d, .5)
	font-size .9em




.visualization
	position relative
	height visualization_height
	background #09131d url(http://i.ytimg.com/vi/r40giRjA_yY/maxresdefault.jpg) center no-repeat
	background-size cover

	&__line
		absolute bottom
		height 30px
		border-bottom 2px solid #50e3c2

	&__select
		cursor pointer
		size 100%
		background alpha(#09131d, .95)
		opacity 0
		transition opacity fast
		input
			opacity 0
		&:hover
			opacity 1
		&.active
			opacity 1
			.visualization__outline
				opacity 1

	&__outline
		opacity 0
		pointer-events none
		absolute top left
		box-sizing border-box
		offset = 20px
		margin (offset / 2)
		height visualization_height - offset
		line-height visualization_height - offset
		width player_width - offset
		border-radius 5px
		border 2px dashed #87aacb
		text-align center


	&__file-btn
		size 100px 20px
		background yellow
		margin auto





.control-panel
	background #121f2b
	padding 6px 15px 4px

	&__play
		background url(images/play.svg) no-repeat
	&__pause
		background url(images/pause.svg) no-repeat
	&__stop
		background url(images/stop.svg) no-repeat
	&__play, &__pause, &__stop
		size 18px
		background-size cover
		display inline-block
		margin 5px
		&:hover
			opacity .8
		&:active
			opacity .6

	&__song-name
		white-space no-wrap
		width 400px
		line-height control_panel_height - 10px // exclude .control-panel padding
		float right

		text-align center
		font-size 1.1em



$equalizer__btn
	display inline-block
	width 20%
	gradation background, #121f2b
	&--active
		gradation background, #09131d

.equalizer
	cursor pointer
	line-height equalizer_height
	text-align center
	border-top 1px solid #283d51

	for btn in 'normal' 'pop' 'rock' 'reggae' 'classic'
		&__{btn}
			@extend $equalizer__btn


