@import 'normalize-styl/normalize'

equalizer_height = 30px
control_panel_height = 40px
player_height = 500px

fast = .3s

body
	background #30485f
	font-weight 300
	font-size 14px




gradation(rule, color)
	rule color
	&:hover
		rule tint(color, 2%)
	&:active
		rule tint(color, 4%)



.music-player
	margin 70px auto
	width player_height

	overflow hidden
	border-radius 5px
	color #87aacb
	box-shadow 0 0 15px alpha(#09131d, .5)
	font-size .9em




.visualization
	position relative
	height 200px
	background #09131d url(http://i.ytimg.com/vi/r40giRjA_yY/maxresdefault.jpg) center no-repeat
	background-size cover

	&__line
		absolute bottom
		height 30px
		border-bottom 2px solid #50e3c2

		transition width fast
		width 42%




.control-panel
	background #121f2b
	padding 6px 15px 4px

	&__play
		background url(images/play.svg) no-repeat
	&__stop
		background url(images/stop.svg) no-repeat
	&__play, &__stop
		size 18px
		background-size cover
		display inline-block
		margin 5px

	&__song-name
		white-space no-wrap
		width 400px
		line-height control_panel_height - 10px // exclude .control-panel padding
		float right

		text-align center
		font-size 1.1em



$equalizer__btn
	display inline-block
	width 20%
	gradation background, #121f2b
	&--active
		gradation background, #09131d

.equalizer
	cursor pointer
	line-height equalizer_height
	text-align center
	border-top 1px solid #283d51

	for btn in 'normal' 'pop' 'rock' 'jazz' 'classic'
		&__{btn}
			@extend $equalizer__btn


